.Rproj.user
.Rhistory
.RData
animExample001.png
animExample002.png
animExample003.png
animExample004.png
animExample005.png
animExample006.png
animExample008.png
animExample010.png
animExample011.png
animExample031.png
animExample049.png
animExample052.png
rComm_thresh_test_time10.gexf
rComm_thresh_test_time11.gexf
rComm_thresh_test_time12.gexf
